<div class="flex-row-nowrap" style="justify-content: center;">
  <div class="main-container">
    <div class="flex-col-nowrap">
      <h1>Article</h1>
      <div
        class="flex-row-nowrap"
        style="padding: 0 0 24px 0;"
        (click)="toContent()"
      >
        <div class="each-image">
          <img class="image" src="/assets/images/article/contentlogo1.jpg" />
        </div>
        <div class="flex-col-nowrap" style="margin-left: 16px;">
          <h3>ชิก ๆ คูล ๆ กับ How To “โกงหน้าเลนส์” ด้วยปากกาเมจิก</h3>
          <p>
            หลายครั้งที่เราอาจจะคิดไอเดียในการถ่ายภาพไม่ออกว่าจะถ่ายภาพ portrait
            ในรูปแบบใดจึงจะมีลูกเล่นที่โดดเด่นกว่าคนอื่น หรือรู้สึกว่า
            การถ่ายรูปมันช่างจืดชืดไร้สีสันอะไรอย่างงี้… (Read More)
          </p>
        </div>
      </div>
      <div class="flex-row-nowrap" style="padding: 0 0 24px 0;">
        <div class="each-image">
          <img class="image" src="/assets/images/article/contentlogo2.jpg" />
        </div>
        <div class="flex-col-nowrap" style="margin-left: 16px;">
          <h3>ประกาศ! ตากล้องมือใหม่โปรดทราบ ใช้ LR ไม่เป็นก็แต่งภาพสวยได้</h3>
          <p>
            เป็นตากล้องหน้าใหม่ได้จับกล้องถ่ายภาพทั้งทีก็อยากจะแต่งรูปสวย ๆ
            อาร์ท ๆ ให้ดูเป็นมืออาชีพแบบคนอื่นเขาบ้าง
            แต่พอเปิดโปรแกรมขึ้นมาเท่านั้นแหละ โอ้ยยยย ตาลายไปหมด…(Read More)
          </p>
        </div>
      </div>
      <div class="flex-row-nowrap" style="padding: 0 0 24px 0;">
        <div class="each-image">
          <img class="image" src="/assets/images/article/contentlogo3.jpg" />
        </div>
        <div class="flex-col-nowrap" style="margin-left: 16px;">
          <h3>Speed shutter กับรูรับแสงคืออะไร ? มาทำความเข้าใจใน 1 นาทีกัน</h3>
          <p>
            ตากล้องมือใหม่หลายคนซื้อกล้องโปรมาแต่ใช้งานกันไม่เป็น ตั้ง auto
            ไว้ตลอดเสียดายความสามารถของกล้องแย่ ลองปรับเป็น manual
            แล้วมาทำความเข้าใจเรื่องรูรับแสงและ speed shutter กันเถอะ…(Read
            More)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
