<app-header>
  <div class="navigation-bar-header">
    <div style="padding-right: 8px">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
    </div>
    <ng-content select="app-navigation-header-content"></ng-content>
  </div>
</app-header>
<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    >
    <div class="navigation-bar-sidenav-container"></div>
    <div class="navigation-bar-sidenav-content-container">
      <ng-content select="app-navigation-sidenav-content"></ng-content>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="navigation-bar-content-container">
    <ng-content select="app-navigation-main-content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
