<div class="flex-col-nowrap" style="align-items: center">
  <div class="flex-col-nowrap container">
    <div class="flex-row-nowrap" style="justify-content: flex-end;align-self: stretch;">
      <div class="icon_container flex-row-nowrap">
        <mat-icon svgIcon="eye"></mat-icon> 292
      </div>
      <div class="icon_container flex-row-nowrap">
        <mat-icon svgIcon="like"></mat-icon> 28
      </div>
    </div>
    <img src="/assets/images/baifern.jpg" class="main_image">
    <div class="flex-row-nowrap profile-container" style="justify-content: space-between;">
      <div class="flex-row-nowrap name-container">
        <img src="/assets/images/photographer.jpg" class="profile">
        <div class="flex-col-nowrap" style="margin-left:4px;">
          <span class="main-name">
            Kulachet Cheosakul
          </span>
          <span class="sub-name">
            ILoveToGo.com
          </span>
        </div>
      </div>
      <div>
        WARM
      </div>
    </div>
  </div>
</div>