<div class="flex-row-nowrap" style="justify-content: center;">
  <div class="main-container">
    <div class="flex-col-nowrap" style="align-items: center">
      <div class="flex-col-nowrap container" *ngIf="!onRequest">
        <div
          class="flex-row-nowrap"
          style="justify-content: flex-end;align-self: stretch;"
        >
          <div class="icon_container flex-row-nowrap">
            <mat-icon svgIcon="eye"></mat-icon> {{ photo.view }}
          </div>
          <div class="icon_container flex-row-nowrap">
            <mat-icon svgIcon="like"></mat-icon> {{ photo.like }}
          </div>
        </div>
        <img
          [src]="'/assets/images/photo/' + photo.id + '.' + photo.extension"
          class="main_image"
        />
        <div
          class="flex-row-nowrap profile-container"
          style="justify-content: space-between;"
        >
          <div class="flex-row-nowrap name-container">
            <img src="/assets/images/photographer.jpg" class="profile" />
            <div class="flex-col-nowrap" style="margin-left:4px;">
              <span class="main-name">
                {{ photographer.firstname }} {{ photographer.lastname }}
              </span>
              <span class="sub-name" *ngIf="photographer && photographer.from">
                {{ photographer.from }}
              </span>
            </div>
          </div>
          <div class="flex-row-wrap">
            <div *ngFor="let tag of tags" [class]="tag + '-tag'">
              {{ tag | uppercase }}
            </div>
          </div>
        </div>
        <mat-divider style="align-self: stretch"></mat-divider>
        <!-- <button mat-raised-button>SHOW DETAIL</button> -->
        <div class="flex-col-nowrap detail-container">
          <span class="header-detail">Detail</span>
          <table class="detail-table">
            <colgroup>
              <col style="width:50%" />
              <col style="width:50%" />
            </colgroup>
            <tr>
              <td align="right">Shutter speed :</td>
              <td align="left">{{ setting.ss }}</td>
            </tr>
            <tr>
              <td align="right">Aperture :</td>
              <td align="left">{{ setting.f }}</td>
            </tr>
            <tr>
              <td align="right">ISO :</td>
              <td align="left">{{ setting.iso }}</td>
            </tr>
            <tr>
              <td align="right">Whitebalance :</td>
              <td align="left">{{ setting.wb }}</td>
            </tr>
          </table>
        </div>
        <div class="flex-col-nowrap detail-container">
          <span class="header-detail">How To</span>
          <p>
            การถ่ายรูปจะต้องพิจารณาแสงในแต่ละวัน บางวันแสงดีก็จะได้รูปที่มีแสง,
            เงา, Contrast ที่มาก
            แล้วในวันที่มีแสงที่ค่อนข้างแรงนั้นจะสามารถถ่ายให้เกิด Flare ได้ง่าย
            เมื่อต้องการถ่ายให้เกิดแสง Flare
            จะต้องถ่ายโดยวางพระอาทิตย์อยู่ที่มุมใดมุมหนึ่งของรูป
            ซึ่งมุมที่เป็นที่นิยมในการวางพระอาทิตย์ไว้คือด้านบนซ้ายหรือบนขวาของภาพ
            เหนือเส้นบนของตาราง9ช่องเล็กน้อย เนื่องจากจะสามารถใช้แสง Flare
            เป็นเส้นนำสายตามาสู่ตัวแบบที่วาง อยู่ที่มุมตรงข้ามกันได้
            เวลาถ่ายรูปย้อนแสง กล้องจะโฟกัสพลาดได้ง่าย
            ควรกดถ่ายรูปมาจำนวนหนึ่งในแต่ละมุม(ถ่ายรัว) เพื่อป้องกันความผิดพลาด
            หรือถ้ากล้องที่ใช้มีระบบ AF-C
            (การโฟกัสตามตัวแบบไปเรื่อยๆโดยไม่ล็อคระยะโฟกัสไว้ที่จุดๆหนึ่ง)
            จะทำให้เกิดรูปเสียน้อยลง
          </p>
          <p>
            การแต่งรูป จะใช้โปรแกรม Adobe lightroom เนื่องจากมีเครื่องมือเยอะ
            และใช้ง่ายกว่า Adobe Photoshop
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
