<div>
  <div class="container"> 
    <div class="layout-location">
        <p>ตอนนี้คุณอยู่ที่ลาดกระบัง</p>
        <mat-form-field class="example-full-width">
            <input matInput>
        </mat-form-field>
        <button mat-raised-button>ค้นหา</button>
    </div>
  </div>
  <div class="container-img">
    <div class="layout-img">
      <img src="/assets/images/location/1.jpg" width="300" height="220">
      <div class="layou-label">
          <mat-icon svgIcon="location"></mat-icon>
          <label style="text-align: center">หน้าคณะIT</label>
      </div>
    </div>
    <div class="layout-img">
        <img src="/assets/images/location/2.jpg" width="300" height="220">
      <div class="layou-label">
          <mat-icon svgIcon="location"></mat-icon>
          <label style="text-align: center">หน้าคณะIT</label>
      </div>
      </div>
      <div class="layout-img">
        <img src="/assets/images/location/2.jpg" width="300" height="220">
        <div class="layou-label">
            <mat-icon svgIcon="location"></mat-icon>
            <label style="text-align: center">หน้าคณะIT</label>
        </div>
      </div>
  </div>












</div>