<div>
  <div class="container"> 
    <div class="layout-location">
        <p style="color:white">ตอนนี้คุณอยู่ที่</p>
        <div class="box">
            <p style="color: white">ลาดกระบัง</p>
        </div>
        
        <div class="left-box">
            <p style="color: yellow">ค้นหา</p>
        </div>    
    </div>
  </div>
  <div class="container-img">
    <div class="layout-img">
      <img src="/assets/images/location/1.jpg" width="300" height="220">
      <div class="layou-label">
          <mat-icon svgIcon="location"></mat-icon>
          <label style="text-align: center">ทางรภไฟ</label>
      </div>
    </div>
    <div class="layout-img">
    <img src="/assets/images/location/2.jpg" width="300" height="220">
      <div class="layou-label">
          <mat-icon svgIcon="location"></mat-icon>
          <label style="text-align: center">หน้าคณะIT</label>
      </div>
      </div>
      <div class="layout-img">
        <img src="/assets/images/location/front.jpg" width="300" height="220">
        <div class="layou-label">
            <mat-icon svgIcon="location"></mat-icon>
            <label style="text-align: center">หน้าพระจอม</label>
        </div>
      </div>
  </div>












</div>