<app-navigation-bar>
  <ng-template #header>
    <div class="flex-row-nowrap" style="align-items: center;">
      <img src="/assets/images/logo.jpg" class="logo"/>
      <label style="margin-left: 8px;">PhotoWay</label>
    </div>
    <img class="profile" src="/assets/images/profile.jpg" />
  </ng-template>
  <app-navigation-sidenav-content>
    <div class="sidenav-container">
      <ng-container *ngFor="let item of sidenav_items">
        <app-navigation-sidenav-item
          [item]="item"
        ></app-navigation-sidenav-item>
      </ng-container>
    </div>
  </app-navigation-sidenav-content>
  <app-navigation-main-content>
    <div class="flex-row-nowrap" style="justify-content: center; background: linear-gradient(#052966,#97cadb);" >
      <div class="main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </app-navigation-main-content>
</app-navigation-bar>
