.sidenav-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 16px;
    box-sizing: border-box;
}

.main-container {
    max-width: 1024px;
    width: 100%;
}