<app-navigation-bar>
  <ng-template #header>
    <span>NAME</span>
    <span>LOGO</span>
  </ng-template>
  <app-navigation-sidenav-content>
    <div class="sidenav-container">
      <ng-container *ngFor="let item of sidenav_items">
        <app-navigation-sidenav-item [item]="item"></app-navigation-sidenav-item>
      </ng-container>
    </div>
  </app-navigation-sidenav-content>
  <app-navigation-main-content>
    <router-outlet></router-outlet>
  </app-navigation-main-content>
</app-navigation-bar>