@import '~@angular/material/theming';
$light-primary: mat-palette($mat-light-blue);
$light-accent: mat-palette($mat-yellow , 700);
$light-warn: mat-palette($mat-red);
$light-theme: (
  'primary': $light-primary,
  'accent': $light-accent,
  'warn': $light-warn
);