@import '~@angular/material/theming';
@import 'themes/light-theme.scss';
@import 'themes/dark-theme.scss';
@import './app/components/header/header.component.scss';
@import './app/components/navigation-bar/navigation-bar.component.scss';
@import './app/components/navigation-bar/navigation-sidenav-item/navigation-sidenav-item.component.scss';
// @import 'node_modules/bulma/bulma.sass';

// always include only once per project
@include mat-core();
$sidenavWidth: 240px;
$headerHeight: 56px;
$header-component-options: (
  headerHeight: $headerHeight,
);
$navigation-bar-component-options: (
  sidenavWidth: $sidenavWidth,
  headerHeight: $headerHeight,
);
$navigation-sidenav-item-options: (
  sidenavWidth: $sidenavWidth,
);
$list: (
  light: (
    material: mat-light-theme($light-primary, $light-accent, $light-warn),
    theme: $light-theme,
  ),
  dark: (
    material: mat-dark-theme($dark-primary, $dark-accent, $dark-warn),
    theme: $dark-theme,
  ),
);
@each $theme-name, $map in $list {
  .#{$theme-name}-theme {
    @include angular-material-theme(map-get($map, material));
    @include header-component(
      map-get($map, material),
      $header-component-options
    );
    @include navigation-bar-component(
      map-get($map, material),
      $navigation-bar-component-options
    );
    @include navigation-sidenav-item-component(
      map-get($map, material),
      $navigation-sidenav-item-options
    );
  }
}
.upper-main-container {
  justify-content: center;
  background: linear-gradient(#052966, #97cadb);
}
body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
}
// $config: mat-typography-config();
* {
  // font-family: mat-font-family($config);
  font-family: 'Kanit', sans-serif;
}
.flex-col-wrap {
  display: flex;
  flex-flow: column wrap;
}
.flex-col-nowrap {
  display: flex;
  flex-flow: column nowrap;
}
.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}
.flex-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}
.profile {
  width: 40px;
  height: auto;
  border-radius: 50%;
}
.warm-tag {
  background-color: #fff59d;
  border-radius: 8px;
  padding: 4px;
}
.cool-tag {
  background-color: #80deea;
  border-radius: 8px;
  padding: 4px;
}
.lonely-tag {
  background-color: #9fa8da;
  border-radius: 8px;
  padding: 4px;
}
.sad-tag {
  background-color: #e57373;
  border-radius: 8px;
  padding: 4px;
}
.contrast-tag {
  background-color: #000000;
  color: white;
  border-radius: 8px;
  padding: 4px;
}

.film-tag {
  background-color: #eeeeee;
  border-radius: 8px;
  padding: 4px;
}
.happy-tag {
  background-color: #ff80ab;
  border-radius: 8px;
  padding: 4px;
}
.saturate-tag {
  background-color: #2979ff;
  border-radius: 8px;
  padding: 4px;
}
.rainy-tag {
  background-color: #b3e5fc;
  border-radius: 8px;
  padding: 4px;
}
.cloudy-tag {
  background-color: white;
  border-radius: 8px;
  padding: 4px;
}
.main-container {
  max-width: 1024px;
  width: 100%;
}
.street-tag {
  background-color: #fff9c4;
  border-radius: 8px;
  padding: 4px;
}
.full-width-dialog {
  max-width: 80vw !important;
  overflow: auto;
}
