<div class="container">
  <h1>ความสนใจของฉัน</h1>
  <div class="layout-image">
        <img src="/assets/images/interest/1.jpg" height="400" width="100%">  
  </div>
  <div class="layout-image">
      <img src="/assets/images/interest/2.jpg" alt="" height="265" width="49%">
      <img src="/assets/images/interest/2.jpg" alt="" height="265" width="49%">
  </div>
  <div class="layout-image">
    <img src="/assets/images/interest/4.jpg" alt="" height="265" width="49%">
    <img src="/assets/images/interest/5.jpg" alt="" height="265" width="49%">
  </div>
  <div>
  </div>
</div>
